/***  **/
:root {
  --red: #e63946;
  --light: #edf2f4;
  --dark: #1d3557;
  --primary: #a8dadc;
  --secunadary: #0a66c2;
  
}
html{
  box-sizing: border-box;
  width: 100%;
}
*,*::before, *::after{
  box-sizing: inherit;
}
.container{
  width: 100%;
  margin: 0 auto;
}
  
